#kaocha/v1
{:tests           [{:id           :unit
                    :test-paths   ["test"]
                    :source-paths ["src"]}]
 :kaocha/reporter [kaocha.report/documentation]
 :plugins         [:kaocha.plugin/profiling
           :kaocha.plugin/junit-xml]
 :color?          false
 :fail-fast?      false}
